<div class="container text-center">
    <div class="footer-banner">
        <div class="logo" text-config-key="LOGO_TEXT">[LOGO]</div>
    </div>
    <div class="social-icons">
        <a href-config-key="FOOTER_INSTAGRAM_HREF" target="_blank" href="#"><i class="fab fa-instagram"></i></a>                
        <a href-config-key="FOOTER_PHONE_HREF" target="_blank" href="#"><i class="fas fa-phone"> &nbsp; <span text-config-key="FOOTER_PHONE_TEXT">[PHONE]</span></i></a>
        <a href-config-key="FOOTER_EMAIL_HREF" target="_blank" href="#"><i class="far fa-envelope"></i></a>
    </div>
    <p class="footer-copyright" text-config-key="FOOTER_COPYRIGHT">[COPYRIGHT]</p>
</div>