<div class="container">
    <a href-config-key="LOGO_HREF" href="/" class="logo" text-config-key="LOGO_TEXT">[LOGO]</a>
    <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false"><i class="fas fa-bars"></i></button>
    <div class="nav-links">
        <a href-config-key="NAV_LINK_3_HREF" href="services" text-config-key="NAV_LINK_3_TEXT">[EXPERIENCE]</a>
        <a href-config-key="NAV_LINK_TEAM_HREF" href="meet-the-team" text-config-key="NAV_LINK_TEAM_TEXT">[TEAM]</a>
        <a href-config-key="NAV_LINK_4_HREF" href="icon-service" text-config-key="NAV_LINK_4_TEXT">[ICON]</a>
    </div>
</div>