<header class="hero">
    <div class="hero-bg-container">
        <div class="hero-bg active" style-bg-config-key="HERO_IMAGE_1" style="opacity: 1;"></div>
        <div class="hero-bg" style-bg-config-key="HERO_IMAGE_2"></div>
        <div class="hero-bg" style-bg-config-key="HERO_IMAGE_3"></div>
    </div>
    <div class="hero-content-box">
        <h1 text-config-key="HERO_TITLE">[HERO_TITLE]</h1>
        <a href-config-key="HERO_BUTTON_HREF" href="#" target="_blank" rel="noopener noreferrer" class="btn" text-config-key="HERO_BUTTON_TEXT">[HERO_BTN]</a>
        <div class="hero-footer" text-config-key="HERO_FOOTER_TEXT">[HERO_FOOTER]</div>
    </div>
</header>