<section class="section-padding" style="padding-top: 140px;">
    <div class="container text-center">
        <span class="section-subtitle" text-config-key="ICON_SUBTITLE">[ICON_SUBTITLE]</span>
        <h2 class="section-title" id="active-category-title" style="display: none;"></h2>
        
        <!-- Hidden grid for Icon Service (we only want the expanded card) -->
        <div class="service-content" style="display: none;"></div>
        
        <!-- The main content -->
        <div id="service-details-container" class="service-details-container" style="display: block;"></div>
    </div>
</section>