<div class="container text-center">
    <div id="subscribe-container">
        <h2 class="section-title" text-config-key="SUBSCRIBE_TITLE">[SUBSCRIBE_TITLE]</h2>
        <p text-config-key="SUBSCRIBE_TEXT">[SUBSCRIBE_TEXT]</p>
        
        <div id="mc_embed_signup">
            <form action="https://gmail.us5.list-manage.com/subscribe/post?u=d3996d16165f3bbbc8e8ae321&amp;id=62ce8ea2f1&amp;f_id=005abcedf0" 
                  method="post" 
                  id="mc-embedded-subscribe-form" 
                  name="mc-embedded-subscribe-form" 
                  class="subscribe-form validate" 
                  target="_blank"
                  rel="noopener noreferrer">
                
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" 
                       placeholder-config-key="SUBSCRIBE_EMAIL_PLACEHOLDER" placeholder="[EMAIL_PLACEHOLDER]">
                
                <input type="text" name="NAME" class="required text" id="mce-NAME" required="" 
                       placeholder-config-key="MAILCHIMP_NAME_PLACEHOLDER" placeholder="[NAME_PLACEHOLDER]">
                
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_d3996d16165f3bbbc8e8ae321_62ce8ea2f1" tabindex="-1" value="">
                </div>
                
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn" text-config-key="SUBSCRIBE_BUTTON_TEXT">[SUBSCRIBE_BTN]</button>
                
                <div class="legal-compliance">
                    <input type="checkbox" id="legal-checkbox" required>
                    <label for="legal-checkbox" text-config-key="LEGAL_COMPLIANCE_TEXT">[LEGAL_TEXT]</label>
                </div>
            </form>
        </div>
    </div>

    <!-- Success Message -->
    <div id="subscribe-success" style="display: none; padding: 40px 0;">
        <h2 class="section-title" text-config-key="SUBSCRIBE_SUCCESS_TITLE">Thank You!</h2>
        <p text-config-key="SUBSCRIBE_SUCCESS_TEXT">You've successfully subscribed to our style insights.</p>
    </div>
</div>
